<?xml version="1.0" encoding="utf-8"?>
<Rally.RestApi.Test.Properties.Settings>
  <setting name="UserName" serializeAs="String">
    <value>#{rally:username}</value>
  </setting>
  <setting name="Password" serializeAs="String">
    <value>#{rally:password}</value>
  </setting>
  <setting name="TestServer" serializeAs="String">
    <value>https://rally1.rallydev.com</value>
  </setting>
  <setting name="ApiKey" serializeAs="String">
    <value>#{rally:apikey}</value>
  </setting>
  <setting name="WorkspaceOID" serializeAs="String">
    <value>#{rally:workspaceOID}</value>
  </setting>
  <setting name="ProjectOID" serializeAs="String">
    <value>#{rally:ProjectOID}</value>
  </setting>
  <setting name="Trace" serializeAs="String">
    <value>#{rally:trace}</value>
  </setting>
</Rally.RestApi.Test.Properties.Settings>
